<form [formGroup]="firstFormGroup" >
    <h1 mat-dialog-title style="text-align:center">Add Team</h1>
     <mat-dialog-content>
      <div class="edit-container">   
      <mat-form-field>
        <input matInput formControlName="teamName" placeholder="Enter Team Name">
      </mat-form-field>
      <mat-form-field>
          <mat-select placeholder="Selet Teammates" formControlName="member" multiple>
            <mat-option *ngFor="let player of participent" [value]="player.name">
              {{ player.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
    </mat-dialog-content>
    <div class="button-row">
    <mat-dialog-actions>
      <button  mat-raised-button color = "primary" type="button" (click) ="submit(firstFormGroup)" [disabled]="!firstFormGroup.valid" mat-dialog-close >Add</button>
      <button  mat-raised-button color="primary" type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>
  </form>