<div class="container-fluid Absolute-Center is-Responsive" >
  <div  >
  <mat-card >
    <mat-card-title>
      Sign up 
    </mat-card-title>
    <form  [formGroup]="loginForm" >

    <mat-card-content>
      <mat-form-field class="full-width">
        <input 
            type="text" 
            matInput
            formControlName="userName" 
            placeholder="Enter User Name" 
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          type="email"
          matInput
          formControlName="emailAddress"
          placeholder="enter email address"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input  
          type="text"
          matInput
          formControlName="cgiCode"
          placeholder="Enter CGI code"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Select Role" formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input 
          type="password"
          matInput 
          formControlName="password"
          placeholder="Enter Password" 
        />
      </mat-form-field>
      <mat-form-field class="full-width">
         <input 
            type="password"
            matInput 
            formControlName="confirmPassword"
            class="full-width" 
            placeholder="Confirm Password" 
          />
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button type="submit" (click)="submit(loginForm)" color="primary">Create</button>
      </div>
    </mat-card-content>
    </form>

  </mat-card>
</div>
</div>
