<div class="row Absolute-Center is-Responsive">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <mat-card class="">
      <mat-card-title>
        Add Questions
      </mat-card-title>
      <form [formGroup]="addQuesForm" enctype="multipart/form-data">
        <mat-card-content>
          <div class="edit-container">
            <mat-form-field>
              <mat-select placeholder="Select Category" formControlName="category" id="category" (change)="changeCat($event)">
                <mat-option *ngFor="let category of categories" [value]="category.value">
                  {{category.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="edit-container" hidden id="tech">
            <mat-form-field>
              <mat-select placeholder="Select Technology" formControlName="tech">
                <mat-option *ngFor="let technology of technologies" [value]="technology.value">
                  {{technology.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="edit-container">
            <mat-form-field>
              <input type="text" matInput formControlName="desc" class="full-width" placeholder="Enter Question,s Description" />
            </mat-form-field>
          </div>
          <label for="uploadPicture" class="upload-file">
            add a photo
          </label>
          <input type="file" id="uploadPicture" name="img" accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg">
          <div class="row edit-container" id="optionOne">
            <mat-form-field>
              <input type="text" matInput formControlName="optionOne" placeholder="Option One" />
            </mat-form-field>
            <input type="radio" value="1" name="answer" formControlName="answer" [checked]="checked" />Mark As Answer
          </div>
          <div class="edit-container" hidden id="optionTwo">
            <mat-form-field>
              <input type="text" matInput formControlName="optionTwo" placeholder="Option Two" />
            </mat-form-field> 
            <input type="radio" value="2" name="answer" formControlName="answer"  />Mark As Answer
          </div>
          <div class="edit-container" hidden id="optionThree">
            <mat-form-field>
              <input type="text" matInput formControlName="optionThree" placeholder="Option Three" />
            </mat-form-field>
            <input type="radio" value="3" name="answer" formControlName="answer"  />Mark As Answer
          </div>
          <div class="edit-container" hidden id="optionFour">
            <mat-form-field>
              <input type="text" matInput formControlName="optionFour" placeholder="Option Four" />
            </mat-form-field>
            <input type="radio" value="4" name="answer" formControlName="answer"  />Mark As Answer
          </div>
          <div class="button-row">
            <button mat-raised-button (click)="addOption()" color="primary">Add Option </button>
          </div>
          <br>
          <div class="button-row">
            <button mat-raised-button type="submit" (click)="submit(addQuesForm)" color="primary" prevent-default>Create</button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
  <div class="col-md-3"></div>
</div>
<p>{{addQuesForm.value | json}}</p>