<div>
  <br/>
  <br/>
   <div class=row>
    <div class="filter col-sm-4" *ngFor="let team of teamList">
    <a (click)="teamPopup(team)">
      <mat-card class="example-card">
        <div class="row">
          <div class="col-sm-6">
            <mat-card-title>
              {{ team.name }}
            </mat-card-title> 
            </div>
            <div class="col-sm-6">
                  <mat-chip-list class="mat-chip-list-stacked">
                      <mat-chip *ngFor="let name of team.member" class="chipbg" >
                          {{name}}
                      </mat-chip>
                  </mat-chip-list>
            </div>
        </div>     
      </mat-card>
    </a>
    </div>
  </div>
  
  </div>
  <button mat-fab class="fabbtn" title="Add New Team" (click)="teamPopUp()"><mat-icon>add</mat-icon></button>
