<div class="row Absolute-Center is-Responsive"  >
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <mat-card class="">
          <mat-card-title>
            Sign up 
          </mat-card-title>
          <form  [formGroup]="form">
            <mat-card-content>
              <div class="edit-container">
                  <mat-form-field>
                      <input 
                          type="text" 
                          matInput
                          formControlName="userName" 
                          class="full-width"
                          placeholder="Enter User Name" 
                      />
                      <mat-error *ngIf="userName.touched && userName.invalid">
        <mat-error *ngIf="userName.errors.required">
          Name is a mandatory field</mat-error>
        <mat-error *ngIf="userName.errors.pattern">
          Only alphabets allowed</mat-error>
        <mat-error *ngIf="userName.errors.minlength && !userName.errors.pattern">
          Enter a valid name</mat-error>
      </mat-error>


                    </mat-form-field>
                </div>
                <div class="edit-container">
              <mat-form-field>
                <input
                  type="text"
                  matInput
                  formControlName="emailAddress"
                  placeholder="Enter Email Address"
                />
                <mat-error *ngIf="emailAddress.touched && emailAddress.invalid"> 
       <mat-error *ngIf="emailAddress.errors.required">Email-id is required</mat-error>
       <mat-error *ngIf="emailAddress.errors.onlycygrpallowed">Invalid email id</mat-error>
       
      </mat-error>   
                       </mat-form-field>
              </div>

              <div class="edit-container">
              <mat-form-field>
                <input  
                  type="text"
                  matInput
                  formControlName="cgiCode"
                  placeholder="Enter CGI code"
                />
                <mat-error *ngIf="cgiCode.touched && cgiCode.invalid">
        <mat-error *ngIf="cgiCode.errors.required">
          CGI Code is required</mat-error>
        <mat-error *ngIf="cgiCode.errors.pattern">
          Only Numbers allowed</mat-error>
        <mat-error *ngIf="cgiCode.errors.maxlength && !cgiCode.errors.pattern">
          Enter a valid CGI Code</mat-error>
      </mat-error>
      <br>
              </mat-form-field>
              </div>
              <div class="edit-container">
              <mat-form-field>
                <mat-select placeholder="Select Role" formControlName="role">
                  <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{role.value}}
                  </mat-option>
                  

                </mat-select>
<!-- <mat-error *ngIf="role.value.invalid">
 --><!-- </mat-error>
 <mat-error *ngIf="role.errors.required">
Specify your role</mat-error>
 -->
              </mat-form-field>
              </div>
              <div class="edit-container">
              <mat-form-field>
                <input 
                  type="password"
                  matInput 
                  formControlName="password"
                  placeholder="Enter Password" 
                />
              <mat-error *ngIf="password.touched && password.invalid">
        <mat-error *ngIf="password.errors.required">
          Password is required</mat-error>
        <mat-error *ngIf="password.errors.minlength && !password.errors.pattern">
          Password should be of minimum 7 characters</mat-error>
        <mat-error *ngIf="password.errors.pattern">Password must contain uppercase alphabets,lowercase alphabets,digits and special symbols.</mat-error>
</mat-error>
              </mat-form-field>
              </div>
              <div class="edit-container">
              <mat-form-field>
                <input 
                    type="password"
                    matInput 
                    formControlName="confirmPassword"
                    
                    placeholder="Confirm Password" 
                  />
                <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid ">
<mat-error *ngIf="confirmPassword.errors.required ">
Re-enter your password</mat-error>
<mat-error *ngIf="confirmPassword.errors.shouldmatchwithpassword">
Passwords don't match</mat-error>
</mat-error>
                </mat-form-field>
              
              </div>
              <div class="button-row">
                <button mat-raised-button type="submit" (click)="submit(loginForm)" color="primary">Create</button>
                              </div>
            </mat-card-content>
          
          </form>
        </mat-card>
  </div>
  <div class="col-md-3"></div>
</div>
